# Class Files #
*.class

# Package Files #
*.war
*.ear
/OccurrencesValidation/*.db
/OccurrencesValidation/dist
/OccurrencesValidation/*.txt
/OccurrencesValidation/nbproject/private/
/OccurrencesValidation/build/